sqlvolume/data/tempdb.mdf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/AulaBackup-01.bak filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/modellog.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/model.mdf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/model_msdbdata.mdf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/model_msdblog.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/tempdb3.ndf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/tempdb4.ndf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/DesenvolvedorIO_log.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/DesenvolvedorIO.mdf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/msdbdata.mdf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/AulaBackup.bak filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/msdblog.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/tempdb2.ndf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/templog.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/Entropy.bin filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/master.mdf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/mastlog.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/model_replicatedmaster.ldf filter=lfs diff=lfs merge=lfs -text
sqlvolume/data/model_replicatedmaster.mdf filter=lfs diff=lfs merge=lfs -text
